//
// general.scss
//
body {
    font-family: $font-family-base;
    overflow-x: hidden !important;
    font-size: $font-size-base;
    color: $black;
}
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-base;
    line-height: 1.5;
    font-weight: 600;
}
::selection {
    background: rgba($secondary, 0.9);
    color: $white;
}
.pera-title {
    font-size: 16px;
}
a {
    text-decoration: none !important;
}
.bg-overlay {
    background-color: rgba(60, 72, 88, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.yoga-bg-overlay {
    background-color: rgba(60, 72, 88, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.bg-overlay-white {
    background-color: rgba(255, 255, 255, 0.80) !important;
}

.bg-primary-opacity {
    background-color: rgba(0, 123, 255, 0.60) !important;
}
// back to top
.back-to-top {
    z-index: 99;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
    line-height: 30px;
    display: none;
    color: $black;
    background-color: #ced4da;
    transition: all 0.5s ease;
    box-shadow: 0 0 3px rgba(22, 28, 45, 0.15);
}
.back-to-top:hover {
    background-color: $primary;
    color: $white;
}
.back-to-top .icons {
    transition: all 0.5s ease;
    stroke-width: 2;
    height: 14px;
    width: 14px;
}
.btn.btn-icon {
    height: 36px;
    width: 36px;
    line-height: 34px;
    padding: 0;
}
.btn-soft-primary {
    background-color: rgba(0, 123, 255,0.3) !important;
    border: 1px solid rgba(0, 123, 255,0.3) !important;
}
// Section or container vise title
.container-title{
    .titles {
        .title{
            color: $black;
            font-weight: 600;
            font-size: 30px;
        }
    }
    .blog-title {
        font-size: 45px;
    }
}
.mt-70 {
    margin-top: 70px;
}
.width-max {
    max-width: 500px;
}
.font-36 {
    font-size: 36px !important;
}
.para-desc-600 {
    max-width: 600px;
}

.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 24px;
}
.font-26 {
    font-size: 26px;
}
.font-32 {
    font-size: 32px;
}

.h-100vh {
    height: 100vh;
}

.border-dark {
    border: 1px solid $gray-400 !important;
}

// Second Font family used class
.font-family-seconds {
    font-family: $font-family-secondary !important;
}

.font-family-third {
    font-family: $font-family-third !important;
}

// zoyothemes boxlayout demo
.zThemes-layout {
    background: url(../images/bg-img.jpg) fixed repeat;
    .zThemesbox {
        background: $white;
        box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
        max-width: 1270px;
        margin: 0 auto;
    }
    .boxed-home {
        max-width: 1270px;
        margin: 0 auto;
    }
}