//
// Helper.scss
//

@each $color, $value in $theme-colors {
    .text-#{$color} {
        color: #{$value} !important;
    }
    .bg-#{$color} {
        background-color: #{$value} !important;
    }
}
.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.bg-light {
    background: #f6f7fa;
    opacity: 1;
}
.rounded {
    border-radius: 10px !important;
}
.rounded-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
// icon file
.fea.icon-md {
    height: 26px;
    width: 26px;
}
.fea.icon-xs {
    height: 20px;
    width: 20px;
}
.font-14 {
    font-size: 14px;
}
.font-weight-600 {
    font-weight: 600;
}

// sticky bar using blog details
.sticky-sidebar {
    position: sticky;
    top: 80px;
}

.row > * {
    position: relative;
}

// animation
@keyframes up-down-img {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px); /* Adjust this value to change the distance of the up-down motion */
    }
}